div,
body {
    margin: 0;
}

html,
body {
    max-width: 100vw;
    max-height: 100vw;
  }


.header_wrap{
  display: flex;
  width: 80%;
  flex-direction: row;
  justify-content: space-between;
}

.landPage_wrapper{
  background-color: #FFC932;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80%;
}

.landPage_name{
  font-size: 8vw;
  color: #ff5f1a;
}
.landPage_name span{
  font-size: 0.5em;
  color: white;
}
.landPage_name2{
  color: white;
  font-size: 4vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.flipper{
  perspective: 1000px;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.card{
  transition: all 1.2s;
  backface-visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -100px;
}
.card img{
  height: 200px;
  width:200px;

}

.front{
  z-index: 2;
}

.back{
  z-index: 1;
  transform: rotateY(-180deg);
}

.flipper:hover .front{
  z-index: 1;
  transform: rotateY(180deg);
}

.flipper:hover .back{
  z-index: 2;
  transform: rotateX(0deg);
}
