.card{
  height: 200px;
  width: 400px;
  background-color: cornsilk;
  border: 1px solid black;
  display: inline-block;
  margin: 20px 20px 20px 20px;
}
.imgstyle{
  height: 50px;
  width: 50px;
  border-radius: 25px;
}
