.block1{
    height: 200px;
    width: 100%;
    background-color: #002395;
   
    
    
}

.block2{
    height: 200px;
    width: 100%;
    background-color: #ffffff;
   
}

.block3{
    height: 200px;
    width: 100%;
    background-color: #ed2939;
   
}