.SH_box{
  height:200px;
  width:200px;
  background-color: Gainsboro;
  display: inline-block;
  border: 3px ridge;
  border-radius: 10px;
  text-align: center;
  padding: 5%;
  margin: 5px;

}

.photo{
  width: 60%;
  height: 60%;
}
